.container {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.loginButton {
  width: 272px;
  height: var(--navbar-height);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: transparent;
  color: #ffffff;
  font-size: 10.2pt;
  transition: all 0.4s ease-out;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-400);
    color: var(--primary-900);
  }
}

.modalBtnContainer {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
