.container {
  max-width: 1000px;
  margin: 120px auto;
  padding: 0 3em;
  opacity: 0;
  animation: var(--animate-fade-in) 0.4s ease 0.15s forwards;

  & :is(h1, h2, h3, strong) {
    color: var(--primary-500);
  }

  & table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;

    & thead {
      background-color: var(--primary-700);
      color: var(--primary-200);

      & tr {
        border-bottom: 1px solid;
      }
    }

    & td + td,
    th + th {
      border-left: 1px solid;
      padding: 8px 16px;
    }
    tr + tr {
      border-top: 1px solid;
    }
    td {
      padding: 8px 16px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0 2em;
  }
}
