.container {
  max-width: 1000px;
  margin: 120px auto;

  & :is(h1, h2, h3, strong) {
    color: var(--primary-900);
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;

    & thead {
      background-color: var(--primary-100);
      color: var(--primary-900);
      & tr {
        border-bottom: 1px solid;
      }
    }

    & td + td,
    th + th {
      border-left: 1px solid;
      padding: 8px 0px;
    }
    tr + tr {
      border-top: 1px solid;
    }
  }
}
