.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--surface-950);
  display: grid;
  grid-template-columns: 72px auto max-content;
  align-items: center;
  padding: 0px 0px 0px 20px;
  color: #ffffff;
  position: fixed;
  box-shadow: 0px 4px 10px 0px rgba(17, 17, 26, 0.18);
  z-index: 20;
}

.logo {
  width: 55px;
  height: 55px;
  transition: all 0.4s ease-out;
}

.logo:hover {
  opacity: 0.75;
}

.loginBtnContainer {
  margin-left: auto;
  margin-right: 20px;
}

.routes {
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 0 6em;
  font-weight: 400;
  font-size: 12pt;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & li {
    display: flex;
    flex-flow: column;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:is(:hover, .active) {
      color: var(--primary-400);
    }

    &.active::after {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: var(--primary-400);
    }
  }
}

.loading {
  margin-left: auto;
  margin-right: 20px;
  color: var(--surface-300);
}

@media only screen and (max-width: 1410px) {
  .routes {
    gap: 0 4.5em;
  }
}

@media only screen and (max-width: 1300px) {
  .routes {
    gap: 0 3.5em;
  }
}

@media only screen and (max-width: 1200px) {
  .routes {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    gap: 0 4.5em;
  }
}

@media only screen and (max-width: 1000px) {
  .routes {
    gap: 0 3.5em;
  }
}

@media only screen and (max-width: 900px) {
  .routes {
    display: none;
  }
}
