.container {
  width: 100dvw;
  min-height: calc(100dvh - var(--navbar-height));
  position: relative;
  background-color: hsl(208, 25%, 88%);
  display: grid;
  grid-template-rows: 32px auto 50px;
}

.content {
  width: 1494px;
  background-color: hsl(210, 26%, 93%);
  height: 100%;
  margin: auto;
  padding: 5em 5em 0 5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 28px;

  & .divider {
    width: 30%;
    height: 1px;
    background-color: var(--design-green);
  }

  & span {
    color: var(--design-dark-green);
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.35em;
    text-align: center;
  }
}

@media (max-width: 1494px) {
  .content {
    width: 100%;
  }
}
