.pageContainer {
  --time-left-height: 2rem;

  position: relative;
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  z-index: 2;
}

.timeLeft {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--time-left-height);
  grid-column-start: 1;
  grid-column-end: 3;
  color: black;
  font-weight: 500;
  background-color: var(--primary-500);
  border-bottom: 2px var(--surface-950) solid;
}

.teamContainer {
  display: grid;
  grid-template-rows: 60% 40%;
  height: calc(100vh - var(--navbar-height) - var(--time-left-height));
}

.header {
  padding: 0.25rem;
  padding-left: 0.75rem;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: var(--surface-800);
  border-bottom: 2px var(--surface-950) solid;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.playersContainer {
  display: flex;
  height: max-content;
  min-height: 3rem;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.roster,
.backup,
.candidates {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.roster {
  border-bottom: 2px var(--surface-950) solid;
}

.candidates {
  border-left: 2px var(--surface-950) solid;
}

.pagination {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--surface-900);
  border-top: 2px var(--surface-950) solid;
}

.pageBtn {
  padding: 0;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  left: 0;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  animation: slide-in-modal 0.3s ease forwards;
  z-index: 3;
}

.modal {
  padding: 1rem;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: row;
  width: max-content;
}

.counter {
  display: flex;
  align-items: center;
}

.helpBtnContainer {
  position: fixed;
  right: 0;
  bottom: 1rem;
  z-index: 4;
}

.helpBtn {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: white;
  border-radius: 100%;
  transition: all 0.15s;
  cursor: pointer;
}

.helpBtn:hover {
  background-color: var(--surface-200);
}

@keyframes slide-in-modal {
  0% {
    bottom: -10rem;
  }
  100% {
    bottom: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .pageContainer {
    grid-template-columns: 35% 65%;
  }
}

@media only screen and (max-width: 1070px) {
  .pageContainer {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 675px) {
  .pageContainer {
    grid-template-columns: 100%;
    height: max-content;
  }

  .timeLeft {
    padding: 0.5rem 5rem;
    height: max-content;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .teamContainer {
    grid-template-rows: max-content max-content;
    height: max-content;
  }

  .playersContainer {
    justify-content: center;
  }

  .backup {
    border-bottom: 2px var(--surface-950) solid;
  }

  .candidates {
    border-left: none;
  }

  .helpBtnContainer {
    right: -0.5rem;
    top: calc(var(--navbar-height) + 0.5rem);
    bottom: initial;
  }
}
