.player {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  width: 18rem;
  overflow: hidden;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.notSelectedPlayer {
  background-color: var(--surface-50);
}

.notSelectedPlayer:hover {
  background-color: var(--primary-200);
}

.selectedPlayer {
  color: white;
  fill: white;
  background-color: var(--primary-500);
}

.selectedPlayer:hover {
  background-color: var(--primary-400);
}

.pfp {
  display: block;
  border-radius: 5px;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.65rem;
}

.osu {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

.discord {
  margin-top: 0.15rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 500;
}

.discordIcon {
  margin-right: 0.25rem;
  height: 0.85rem;
  fill: inherit;
}